.row {
    display: flex;
    justify-content: space-around;
}

aside {
     border: 1px solid red;
     width: 20%;
     height: 500px;
}
main {
    border: 1px solid blue;
    width: 70%;
}

#search {
    border: 1px solid green;
    margin: 20px;
    width: 80%;
    height: 50px;
}

#getData {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
    background-color: #ffffff;
    color: #080710;
}